/* RESET */
ul {
    margin: 0;
    padding: 0;
}

/* COMMON */
body {
    font-family: Arial, sans-serif;
}

.ms_banner a {
    text-decoration: none;
    color: inherit;
}

.ms_banner p {
    padding-bottom: 1.5rem;
}

.card-container.active {
    border: 2px solid #0072ce;
    border-radius: 20px;
}
.card-container img {
    width: 100%;
    padding: 0.2rem;
    border-radius: 20px;
}

section.ms_cards {
    padding: 2rem 0;
}

/* Utilities */
.ms_banner {
    color: white;
    padding: 2rem;
    position: relative;
}

.ms_btn {
    color: white;
    display: inline;
    padding: 0.7rem 1rem;
    border-radius:20px;
}

/* END COMMON */

/* HEADER */
header {
    font-family: Helvetica, arial, sans-serif;
    position: fixed;
    width: 100%;
    z-index: 10;
}

header ul {
    display: flex;
    list-style: none; 
}

header li {
    padding: 0 0.7rem;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Header Top */
.ms_header-top {
    height: 30px;
    background-color: black;
    text-align: right;
}

.ms_header-top img {
    height:30px;
    padding: 0.5rem;   
}

/* Header Bottom */
.ms_header-bottom {
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 0.5rem;
}

.ms_header-bottom-left,
.ms_header-bottom-right {
    line-height: 70px;
}

.ms_header-bottom-nav img,
.ms_header-bottom-user-menu
 a img {
    width: 10px;
    padding-left: 0.1rem;
}

.ms_header-bottom-user-menu .ms_btn {
    background-color: #363636;
}

.ms_header-bottom-user-menu img {
    width: 25px;
}

.ms_header-bottom-bars i {
    color: #848484;
}
/* END HEADER */

/* MAIN */
main {
    padding-top: 100px;
}

/* Returnal Banner Section*/
.ms_banner.returnal {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: bottom;
    max-width: 100%;
    
}

.ms_banner-returnal-logo {
    position: absolute;
    bottom: 270px;
    left: 50px;
}

.ms_banner-returnal-logo img {
    width: 50%;
}

.ms_banner.returnal h2{
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
}

.ms_banner .ms_btn.red {
    background-color: #cd3d10;
}

/* Returnal-Ratchet Cards Section */





/* END MAIN */


/* FOOTER */



/* END FOOTER */


/*-------------------- MEDIA QUERY --------------------*/

/* Large */

@media screen and (min-width:992px) {
    
/* Header Bottom */
.ms_header-bottom {
    padding: 0;
}
}

/* Extra Large */

@media screen and (min-width:1200px) {
    
/* Header Bottom */
.ms_banner p {
    padding-right: 45rem;
}
}

/* Extra Extra Large */

@media screen and (min-width:1400px) {
    
/* Returnal Section */
.ms_banner-returnal-logo img {
        width: 28%;
        padding-bottom: 1.5rem;
    }

.ms_banner p {
    padding-right: 59rem;
}


}
