/* RESET */
img {
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

/* COMMON */
body {
    font-family: Arial, sans-serif;
}

.ms_banner a {
    text-decoration: none;
    color: inherit;
}

.ms_banner p {
    padding-bottom: 1.5rem;
}

.ms_card-container img {
    width: 100%;
    padding: 0.1rem;
    border-radius: 20px;
}

section.ms_cards {
    padding: 2rem 0;
}

/* Utilities */
.ms_banner {
    color: white;
    padding: 2rem;
    position: relative;
}

.ms_btn {
    color: white;
    display: inline;
    padding: 0.7rem 1rem;
    border-radius:20px;
    text-decoration: none;
}

.ms_card-container.active {
    border: 2px solid #0072ce;
    border-radius:20px;
}

.ms_products-container.active.black {
    border-bottom: 2px solid #0072ce;
    color: black ;
    padding-bottom: 3.5rem;
}

/* END COMMON */

/* HEADER */
header {
    font-family: Helvetica, arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

header ul {
    display: flex;
    list-style: none; 
}

header li {
    padding: 0 0.7rem;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Header Top */
.ms_header-top {
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: right;
}

.ms_header-top img {
    height:30px;
    padding: 0.5rem;   
}

/* Header Bottom */
.ms_header-bottom {
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 0.5rem;
}

.ms_header-bottom-left,
.ms_header-bottom-right {
    line-height: 70px;
}

.ms_header-bottom-nav img,
.ms_header-bottom-user-menu
 a img {
    width: 10px;
    padding-left: 0.1rem;
}

.ms_header-bottom-user-menu .ms_btn {
    background-color: #363636;
}

.ms_header-bottom-user-menu img {
    width: 30px;
}

.ms_header-bottom-bars i {
    color: #848484;
}
/* END HEADER */

/* MAIN */
main {
    padding-top: 100px;
}

/* Returnal Banner Section*/
.ms_banner.returnal {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: bottom;
    max-width: 100%;
    
}

.ms_banner-returnal-logo {
    position: absolute;
    bottom: 270px;
    left: 50px;
}

.ms_banner-returnal-logo img {
    width: 50%;
}

.ms_banner.returnal h2{
    font-size: 2.5rem;
    padding: 10rem 0 1.5rem 0;
}

.ms_banner .ms_btn.red {
    background-color: #cd3d10;
}

/* Playstation 5 Section */
/* Heading */
.ms_container-heading-ps5 {
    padding: 5rem 0 2rem 0;
    text-align: center;
}

.ms_container-heading-ps5 h4 {
    font-size: 1rem;
    color: #3c8ed7;
    font-weight: 600;
    line-height: 0.1rem
}

.ms_container-heading-ps5 h2 {
    font-size: 3rem;
    padding-bottom: 1rem;
}

.ms_container-heading-ps5 h3,
.ms_container-col-ps5 h3 {
    font-size: 1.2rem;
    color: #737373;
}

/* Columns PS5 */
h1 {
    margin-bottom: 1.5rem;
}
.ms_container-col-ps5 h3 {
    padding-bottom: 2rem;
}

.ms_container-col-ps5 img{
    width: 10%;
    object-fit: contain;
}

.ms_btn.blue {
    background-color: #2d64e6;
}

.ms_img-container {
    padding-top: 1rem;
}

/* Related Products */
.ms_products-container {
    text-align: center;  
    color: #8d8d8d; 
}

.ms_products-container img{
    padding-bottom: 0.5rem;
}

/* END MAIN */


/* FOOTER */



/* END FOOTER */


/*-------------------- MEDIA QUERY --------------------*/

/* MEDIUM */

@media screen and (min-width:768px) {
    
/* Playstation 5 Section */
.ms_container-col-ps5 {
    width: 70%;
}
}

/* LARGE */

@media screen and (min-width:992px) {
    
/* Header Bottom */
.ms_header-bottom {
    padding: 0;
}
}

/* EXTRA LARGE */

@media screen and (min-width:1200px) {
    
/* Header Bottom */
.ms_banner p {
    padding-right: 45rem;
}
    
/* Returnal Section */
.ms_banner-returnal-logo img {
    width: 25%;
}
}
